.App {
  max-width: 100vw;
  min-height: 100vh;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
}

.App-header > div {
  margin: 20px 0;
}

.columns {
  flex: 1;
  max-width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  gap: 20px;
}

.flex-item {
  max-width: 50%;
  flex-grow: 1;
  flex-shrink: 0;
  background-color: #fff;
  border: solid 1px black;
  overflow: scroll;
}

pre {
  background-color: lightgray;
  min-height: 100%;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  /* word-wrap: break-word; */
}

.Fingerprint-data > button,
.Visitor-ID {
  margin-bottom: 20px;
}